<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>
<article class="about">
    <h2>Sobre Mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque elit, at iaculis risus ullamcorper at. Maecenas viverra tortor ac enim molestie euismod vel dignissim magna. Phasellus non nisl et eros maximus bibendum a non magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vitae est risus. Ut vel quam ut sem lobortis gravida. Duis quis purus feugiat, tempus urna nec, dignissim metus. Pellentesque hendrerit neque et tortor euismod tempor. Nunc eget odio justo. Aliquam in mauris quis eros semper varius non nec ante. Vivamus et scelerisque magna, sed bibendum felis. Etiam imperdiet, enim quis congue aliquam, nulla massa efficitur magna, ac feugiat est orci vel mauris. Nunc a sem sit amet nunc consectetur tempor blandit vestibulum velit. Integer eu felis ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</article>